body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
}
