apiVersion: v1
kind: Service
metadata:
  name: f3a-service
  namespace: f3a-microservice
  labels:
    app: f3a-app
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 3000
    nodePort: 30080
    protocol: TCP
  selector:
    app: f3a-app
